<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container text-center">
  <h1>Flask</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid saepe, repellat dolorem cumque ex perferendis maiores quae ad voluptatibus doloribus ratione, placeat sequi ea debitis sapiente, magnam et nihil dicta?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique nostrum doloremque quaerat, esse harum perspiciatis magni voluptatem sapiente nihil magnam beatae saepe eligendi deserunt, porro cupiditate cumque qui repellendus iusto.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla et dolore voluptatem assumenda esse velit similique, distinctio accusantium dolorum quos suscipit deleniti magni, sunt laudantium necessitatibus, asperiores perspiciatis enim facere.
  </p>

  <div class="card">
    <div class="card-header">
      <h3>Card header</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Lorem</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam omnis animi amet dolore unde, repellendus quisquam consectetur in suscipit placeat perspiciatis nostrum ipsam, excepturi eius deleniti recusandae repudiandae id eligendi?</p>
      <a href="#" class="btn btn-primary">python.com</a>
    </div>
  </div>
  </div>
</body>
</html>