<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
  <h1>About Ameliorate Spa</h1>
  <p>Ameliorate Spa was formally incorporated in 1990.</p>
  <p>It was conceptualized by two founders who are the main directors.</p>
  <p>We pride ourselves as the best spa in Nairobi and this is supported by our numerous recognitions and awards.</p>
  <p>Visit us for and equisite and top notch experience.</p>  
</body>
</html>