<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office hours</title>
</head>
<body>
  <h1>Office hours</h1>
  <p>Monday - Friday: 9.00 am to 8.00p.m</p>
  <p>Saturday & Sunday: 12.00 noon to 8.00p.m</p>
  <p>Public Holidays: 10.00 am t0 8.00 pm</p>
  <br>
  <br>
  <h1>Contact us</h1>  
  <p>Tel: 0727705173</p>
  <p>Emal: info@ameliorate.com</p>
</body>
</html>