<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
   <h1>Our Services</h1> 
   <p>We offer a wide range of services that include:</p>
   <ul>
    <li>Massage</li><br>
    <li>Full body scrub</li><br>
    <li>Waxing</li><br>
    <li>Sauna</li><br>
    <li>Pedicure</li><br>
    <li>Manicure</li><br>
    <li>Hairdressing</li>
   </ul>
</body>
</html>