<div>
  <h1>{{about}}</h1>
  <p>
    Welcome to Flask’s documentation. Get started with Installation and then get
    an overview with the Quickstart. There is also a more detailed Tutorial that
    shows how to create a small but complete application with Flask. Common
    patterns are described in the Patterns for Flask section. The rest of the
    docs describe each component of Flask in detail, with a full reference in
    the API section. <br></p>
    <a href="https://flask.palletsprojects.com/en/2.1.x/">Documentation</a>
  
</div>
<style>
    div{
        background-color: #f5f5f5;
        padding: 2rem;
        margin: 2rem auto;
        width: 60%;
        text-align: center;
    }
    h1 {
        color: rgb(44, 89, 235);
        margin: 20px auto;
        text-align: center;
    }
    a{
        margin-top: 20px;
        color: rgb(9, 61, 248);
    }
</style>
