<div>
    <h1>{{more}}</h1>
    <p>
        <h3>Read more in flask including:</h3>
        <ul>
            <li>Security Considerations</li>
            <li>Flask extension development</li>
            <li>Design decision in flask</li>
            <li>Api reference</li>
        </ul>
    </p>
    <a href="https://flask.palletsprojects.com/en/2.1.x/#additional-notes">Additional notes on flask</a>
</div>
<style>
    div{
        background-color: #f5f5f5;
        padding: 2rem;
        margin: 2rem auto;
        width: 60%;
        text-align: center;
    }
    h1 {
        color: rgb(44, 89, 235);
        margin: 20px auto;
        text-align: center;
    }
    ul>li, h3{
        text-align: left;
    }
    a{
        margin-top: 20px;
        color: rgb(9, 61, 248);
    }
</style>