<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h2 style="color:darkturquoise"> This is the About Page </h2>
    <p>This is the page that gives a more detailed description of the website. </p>
    <p>It descibes what the website is all about and it can show services offered by a company through their website.</p>
    

    
</body>
</html>


