<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>
<body>
    <h2 style="color:lightgreen"> This is the demo page </h2> 
    <p>It is where a short demonstration of the functionality of a web app is done</p>
    <p>It can be inform of:</p>
    <ul>
        <li>a live link of the web app </li>
        <li>a short recorded video of how the web app operates </li>
        <li>images with illustrative messages and effects</li>
    </ul>
</body>
</html>

