{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">Flask CRUD</h1>
  {% if groceries|length < 1 %}
  <p>There is nothing to buy for now.</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Groceries</th>
        <th>Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for grocery in groceries %}
      <tr>
        <td><a href="">{{ grocery.name }}</a></td>
        <td>{{ grocery.created_at.date() }}</td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="" role="button">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <form action="/" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="newStuff" class="sr-only">New Stuff:</label>
        <input type="text" class="form-control" name="name" id="newStuff" placeholder="Enter new stuff">
      </div>
      <div class="col-sm-2 my-1">
        <button type="submit" class="btn btn-primary btn-block">Add</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
