<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ABOUT </title>
</head>
<body>
    <h2 style="color:lightgreen"> This is the about page </h2> 
    <p>It is a short history of the creator </p>
    <form>
        <h1>BACKGROUND INFORMATIO<!DOCTYPE html>
            <html lang "">
                <head>
                    <title> My FIRST WEBPAGE! </title>
                </head>
                <body>
                    <p><strong> <h1> Hello, World!</h1> </strong></p>
            
                    <p><h2> Welcome to my first page </h2></p>
                    <p>Welcome to my <strong>first web page</strong>!</p>
                            <h2>Written with a little guidance from <em> Moringa School </em></h2>
                    <ul>
                        <li> HTML </li>
                        <li> CSS </li>
                        <li> JAVASCRIPT </li>
                        <li> And so much more !</li>
                        </ul>
                    <p> Other things am learning are:</p>
                        <ol>
                        <li> Python </li>
                        <li> Android </li>
                        <li> Java </li>
                        <li>  And many more!</li>
                        </ol>
                    </p>
                <p>Check out <a href="http://moringaschool.com/">Moringa School</a>. It's a great place to learn web development skills!</p>
            
                </body>
            </html>N</h1>
        <p>
            Joy Marocho is passionate young lady who believes it getting things done.
            Am a young mom of one, and my passion is to get technology work for moms like me.
            Am a visionist and perfectionist. I Love to see everything to its end and exhausted to its fullest. </p>
        <p>
            I am a graduate of Multimedia University Of Kenya, where i pursed Bachelor of Science in Information
            Technology.
            Am currently a student at Moringa School pursuing Software Development.
            I have featured in several projects but not as much in the programming field. Run a foundation of
            helping young street kids buy providing meals for them. </p>


    <h2>INTEREST </h2>
    <p>My Intrest is basically to help young ladies especially young moms get to discover that there is
            life after
            motherhood.
            I intened to bridge the gap between woman and tech especially in our rural areas.
            My future goal is to create a safe space for anyone and equip them with tech knowledge as they get
            their lives
            togethr.
    </p>

</form>
</body>
</html>

