<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact ME</title>
</head>
<body>
    <h2 style="color:orangered">This is the Contacts Page</h2>
    <p>It is a page that outlines the owner's contact details</p>
    <p>The contact details outlined can be :</p>
    <ul>
        <li>Official telephone numbers</li>
        <li>Email address</li>
        <li>P.O box address</li>
        <li>Physical address of the owners premises</li>
        <li>Social media handles of the owner</li>
    </ul>
    
</body>
</html>
