<!DOCTYPE html>
<html lang "">
	<head>
		<title> My FIRST WEBPAGE! </title>
	</head>
	<body>
		<p><strong> <h1> Hello, World!</h1> </strong></p>

		<p><h2> Welcome to my first Flask page </h2></p>
		<p>Welcome to my <strong>first python web page</strong>!</p>
                <h2>Written with a little guidance from <em> TM Steve </em></h2>
		<ul>
			<li> HTML </li>
			<li> CSS </li>
			<li> JAVASCRIPT </li>
			<li> And so much more !</li>
			</ul>
		<p> Other things am learning are:</p>
			<ol>
			<li> Python </li>
			<li> Android </li>
			<li> Java </li>
			<li>  And many more!</li>
			</ol>
		</p>
	<p>Check out <a href="http://moringaschool.com/">Moringa School</a>. It's a great place to learn web development skills!</p>

	</body>
</html>