<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PROJECTS </title>
</head>
<body>
    <h2 style="color:lightgreen"> This is the projects page </h2> 
    <form>
        <p>
        Am a Full stack Developer. I have done several projects, mostly on the Front End. I have specialized in:
        <dt><strong><u> FRONT-END</u> </strong></dt>
        <li> HTML </li>
    <li> CSS </li>
        <li> BOOTSTRAP </li>
    <li> CSS </li>
        <li> Git/Github </li>
    
        <dt><strong><u> BACK-END </u> </strong></dt>
        <li> Angular </li>
        <li> Python </li>
        <li> Django </li>
        <li> Git/Github </li>
        
        Some of my projects are:
        <ul>
            <li><a href="https://joymarocho.github.io/portfolio/"> Portfolio</a></li>
            <li><a href="https://joymarocho.github.io/Delani-Studio/"> Delani Studio </a></li>
            <li><a href="https://joymarocho.github.io/AkanReveal/"> Akan Reveal </a></li>
            <li><a href="https://github.com/JoyMarocho/JOJO-PIZZA"> Jojo Pizza</a></li>
        </ul>
        
        </p>
        <dl>
        <dt><strong><u> Hobbies are: </u></strong></dt>
        <li> Swimming </li>
        <li> Knitting </li>
        <li> Reading </li>
        </dl>
        <h2> Skills</h2>
        <dl>
        <dt><strong><u> SOFT SKILLS </u></strong></dt>
        <li> Problem Solving Skills </li>
        <li> Listening Skills </li>
        <li> Critical Observation </li>
    
        <dt><strong><u> Technical Skills </u> </strong></dt>
        <li> HTML and CSS </li>
        <li> Java </li>
        <li> Windows Programming </li>
        
        </dl>
    </form>
</body>
</html>

