<h1>Services</h1>
<h2>We offer a variety of services:</h2>
<ol>
    <li>Car Hire</li>
    <li>Car Repair</li>
    <li>Car Wash</li>
    <li>Car Cleaning</li>
    <li>Car Painting</li>
    <li>Car Alignment</li>
    <li>Car Servicing</li>
    <li>Car Insurance</li>
    <li>Car Accessories</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
    <li>Car Body Painting</li>
    <li>Car Body Wash</li>
    <li>Car Body Repair</li>
</ol>