<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1 align="center">Book Summary </h1>
    <div class="container">
        <div class="row">
            <p>Robert Kiyosaki learned about money from two dads, his biological father and his best friends father. Both men worked hard and earned good incomes. But his biological father struggled to pay bills his whole life while his friends father became one of the wealthiest men in Hawaii. The fundamental difference is that the poor dad acquired liabilities, and the rich dad accumulated assets. Assets produce income, and liabilities create expenses. He put many financial factors in his book “Rich Dad, Poor Dad.”

                Robert Kiyosaki is very good at explaining the traits and characteristics you need to become a wealthy person. And he also talks a lot about why the poor stay poor while the middle class stays in the middle class and why the rich keep getting richer.
                    
                So he talks a lot about the mindset, traits, and characteristics and what you have to do with money to become a rich person. What do you have to do with money to make it into more money for yourself? And he explains it all in easy-to-understand terms.
                </p>
            
                <p>
                    Kawasakis adopted rich dad was the father of a childhood friend who never finished the eighth grade. Rich dad owned and ran several businesses. This book and Kawasakis life result from the rich dads financial wisdom. The book says once a dollar goes into your asset column, it becomes your employee.
            
                    The best thing about money is that it works 24 hours a day and can work for generations. Turn more of your money and integrate employees by reducing expenses and acquiring income-generating assets. Dont focus your efforts on increasing your paycheck. Focus your efforts on acquiring assets.
                    
                    The poor tend to use their money the same way the middle class. The rich use their money the same way. Its how they think and uses the money that keeps them locked in those classes. So Robert builds on this first point and then discusses why the rich keep getting richer and how they handle their money
                </p>
        </div>
  
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>