<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask1</title>
</head>
<body>
    <h1 align="center">RICH DAD POOR DAD</h1>
<p  align="center"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/Rich_Dad_Poor_Dad.jpg/220px-Rich_Dad_Poor_Dad.jpg" alt=""></p>

<h2> Author	Robert Kiyosaki and Sharon L. Lechter</h2>
<h3>Country	United States</h3>
<h3> Language	English</h3>
<h3> Genre	Personal finance, entrepreneurship, business, investing, economics</h3>
<h3>Publisher	Warner Books</h3> 
   <h4>Publication date	April 1, 2000</h4> 
    <P>
        Rich Dad Poor Dad is a 1997 book written by Robert T. Kiyosaki and Sharon Lechter. It advocates the importance of financial literacy (financial education), financial independence and building wealth through investing in assets, real estate investing, starting and owning businesses, as well as increasing one's financial intelligence (financial IQ).
        
        Rich Dad Poor Dad is written in the style of a set of parables, ostensibly based on Kiyosaki's life.[1] The titular "rich dad" is his friend's father who accumulated wealth due to entrepreneurship and savvy investing, while the "poor dad" is claimed to be Kiyosaki's own father who he says worked hard all his life but never obtained financial security.<P>
</body>
</html>