<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    span{
        font-weight: bold;
    }
    h1{
        font-style: italic;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

</head>

<body>
    <div class="container">
        <h1 align="center">RICH DAD POOR DAD</h1>
        <div class="row mt-3">
            <div class="col-md-6">
                <p align="center"><img
                    src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/Rich_Dad_Poor_Dad.jpg/220px-Rich_Dad_Poor_Dad.jpg"
                    alt=""></p>
            </div>
            <div class="col-md-6">
                <p> <span>Author:</span> Robert Kiyosaki and Sharon L. Lechter</p>
                <p> <span>Country: </span> United States</p>
                <p> <span>Language:</span> English</p>
                <p> <span> Genre:</span> Personal finance, entrepreneurship, business, investing, economics</p>
                <p> <span>Publisher:</span> Warner Books</p>
                <p><span>Publication date:</span> April 1, 2000</p>
            </div>
        </div>
        <div class="row">
            <h2>Intro</h2>
            <P>
                Rich Dad Poor Dad is a 1997 book written by Robert T. Kiyosaki and Sharon Lechter. It advocates the importance
                of financial literacy (financial education), financial independence and building wealth through investing in
                assets, real estate investing, starting and owning businesses, as well as increasing one's financial
                intelligence (financial IQ).
            </P>
            <p>
                Rich Dad Poor Dad is written in the style of a set of parables, ostensibly based on Kiyosaki's life.[1] The
                titular "rich dad" is his friend's father who accumulated wealth due to entrepreneurship and savvy investing,
                while the "poor dad" is claimed to be Kiyosaki's own father who he says worked hard all his life but never
                obtained financial security.
            <P>
        </div>
    </div>
   
 
    
   




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous">
    </script>
</body>

</html>