<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <em><h3> <span style="color: purple;"></span>~~WHAT IS FLASK?:~~ </h3></em>
    <p>Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries.<br> It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions</p>
   
   
  


    
    
</body>
</html>