<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>~~INTERESTING FACTS ABOUT FLASK ~~</h4>
    <p>Major advantages of <span style="color: violet;">Flask</span></p>
    <ul>
       <li>Ease of setup and use.</li>
        <li>Freedom to build the structure of the web application.</li>
    </ul>
   
    
</body>
</html>