<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
</head>
<body>
  <h1>services offered</h1>
  <p>we also give out good pet owners cute puppies of different breeds for adoption</p>
  <p>we do good grooming for your Pets for better appearence</p>
  <p>we offer good quality services at affordable prices</p>
  <p>we are open weekdays from 9-6 pm and weekends from 10-1 pm</p>
</body>
</html>